* {
  box-sizing: border-box;
}

.container{
  width:100%;
  height:auto;
}

.header {
  width: 100%;
  height: 80px;
  padding: 21px;
  background-color: #ffffff;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.05);

  display: flex;
  justify-content: space-between;
  align-items: center;

  position: fixed;
  top: 0;
}

.header img {
  width: 75px;
  height: 53px;
}

.header ion-icon {
  width: 45px;
  height: 45px;
}

.main {
  width: 100%;
  height: auto;
  margin: 80px 0px;
  background-color: #f3f3f3;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 4px;
}

.message {
  width: 100%;
  height: 40px;
  padding-left:10px;
  border-radius:2px;
  background-color: #FFFFFF;

  display: flex;
  align-items:center;
  justify-content:flex-start;
  flex-wrap:wrap;
}

.message p {
  display: flex;
  align-items:center;
  justify-content:flex-start;
  word-wrap: break-word;

  overflow-wrap:break-word;
}

.message p span {
  text-align:center;
  word-wrap: break-word;
}

.time {
  font-family: "Roboto";
  font-style: normal;
  font-size: 14px;
  line-height: 16px;
  display: flex;
  align-items: center;
  font-weight: 300;
  color: #aaaaaa;
}

.name {
  font-family: "Roboto";
  font-style: normal;
  font-size: 14px;
  line-height: 16px;
  display: flex;
  align-items: center;
  font-weight: 700;
}

.type-message, .text {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  display: flex;
  align-items: center;
  height:40px;
}

.footer {
  width: 100%;
  height: 80px;
  padding: 17px;
  background-color: #ffffff;
  box-shadow: 0px -4px 6px rgba(0, 0, 0, 0.05);

  display: flex;
  justify-content: space-between;
  align-items: center;

  position: fixed;
  bottom: 0;
}

.footer input {
  width: 300px;
  height: 30px;
}

.footer input::placeholder {
  width: 145px;
  height: 30px;
  font-family: "Roboto";
  font-style: italic;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  display: flex;
  align-items: center;
  color: #000000;
}

.footer ion-icon {
  width: 26px;
  height: 26px;
}

.login {
  width:100%;
  height:100vh;
  margin:0 auto;
  padding-top:150px;
  background-color:#ffffff;

  display:flex;
  flex-direction:column;
  align-items:center;
  justify-content:flex-start;
  gap:94px;

  position:absolute;
  top:0;
  left:0;
}

.hidden {
  display:none;
}

.login img {
  width:130px;
  height:92px;
  margin:0 auto;
}

.login-box {
  width:100%;
  height:114px;
  padding:0 57px;

  display:flex;
  flex-direction:column;
  align-items:center;
  justify-content:space-between;
}

.login-box input {
  width:261px;
  height:54px;
  background-color:#ffffff;
  border:1px solid #D7D7D7;
  border-radius:4px;
}

.login-box input::placeholder {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  text-align:center;
  color: #AEAEAE;
}

.login-box div {
  width:109px;
  height:45px;
  background-color:#E7E7E7;
  border-radius:9px;
  cursor:pointer;

  display:flex;
  justify-content:center;
  align-items:center;
}

.login p {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  color:#696969;
}

.overlay {
  width:69%;
  height:auto;
  background-color:#ffffff;
  
  display:flex;
  flex-direction:column;
  align-items:center;
  justify-content:center;

  z-index:2;

  position:absolute;
  top:0;
  right:0;
}

.overlay > div {
  width:100%;
  height:84px;

  display:flex;
  justify-content:center;
  align-items:center;
}

.overlay > div p {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color:#000000;
}